@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

button:hover {
  cursor: pointer;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eae6e5;
}
body .heading {
  margin: 3rem 0 5rem 0;
}
body .heading .title, body .heading .sub-title {
  font-size: 4rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #12130f;
}
body .heading .sub-title {
  font-size: 1.5rem;
  color: #8f8073;
}
body .user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
body .user-input label {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
body .user-input input {
  width: 80%;
  max-width: 35rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #9b8774;
  text-align: center;
  padding: 0.7rem 1rem;
  margin: 1rem 1rem 2rem 1rem;
}
body .user-input .button {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  margin-bottom: 3rem;
  background-color: #5b9279 9d;
  color: #12130f;
  font-family: "Poppins", sans-serif;
}
body .qr-code {
  border-top: 0.5rem solid #8f8073;
  border-right: 0.5rem solid #8f8073;
  border-bottom: 1rem solid #8f8073;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-left: 0.5rem solid #8f8073;
  background-color: #8f8073;
}
body .qr-code button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #8f8073;
  font-family: "Poppins", sans-serif;
  color: #eae6e5;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
body .qr-code button a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-columns: #eae6e5;
     -moz-columns: #eae6e5;
          columns: #eae6e5;
}